<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ventana1-element">
  <template>
    <style>
      :host {
        display: block;
      }
	  .label1{
		size:14px;
	  }
	  .label2{
	    size:14px;
		color: gray;
	  }
	  h1{
		text-align:center;
	  }
    </style>       
    <h1>[[prop1]]!</h1>
	<template is='dom-repeat' items='[[itemArray]]'>
		<div class="info-container">
			<p class="label1">[[item.head]]</p>
			<p class="label2">[[item.desc]]</p>
		</div>
	</template>
	
	<center><button on-click="myOnclick">[[textBoton]]</button></center>
  </template>
                                    
  <script>
    /**
     * `ventana1-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Ventana1Element extends Polymer.Element {
      static get is() { return 'ventana1-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Confirmation'
          },
		  itemArray: {
            type: Array,
            value() {
              return [
                {head: 'Label', desc: 'Lorem impsum text info data'},
				{head: 'Label', desc: 'Lorem impsum text info data'},
				{head: 'Label', desc: 'Lorem impsum text info data'}
              ];
            }
          },
		  textBoton: {
            type: String,
            value: 'Click Me!!!'
          }
        };
      }
	  myOnclick(e) {
        this.dispatchEvent(new CustomEvent('my-event',{detail: {kicked: true}}));
	  }
	}

    window.customElements.define(Ventana1Element.is, Ventana1Element);
  </script>
</dom-module>